### Q1. A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [119]:
import pandas as pd
from scipy import stats
import numpy as np

In [84]:
cutlet_data=pd.read_csv('Cutlets.csv')
cutlet_data

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

### Hypothesis:
#### N0: There is no significant difference in the diameter of the cutlet between two units. 
#### N0: There is a significant difference in the diameter of the cutlet between two units. 
### 2 sample 2 T test is used

In [33]:
t_value,p_value = stats.ttest_ind(a = cutlet_data['Unit A'],b = cutlet_data['Unit B'])
t_value,p_value

(0.7228688704678063, 0.4722394724599501)

In [34]:
p_value=p_value/2
p_value

0.23611973622997506

In [37]:
if p_value < 0.05:
    print(' Null hypothesis is rejected and there is a significant difference in the diameter of the cutlet between two units.')
else:
    print('Null hypothesis is not rejected and there is not significant difference in the diameter of the cutlet between two units.')

Null hypothesis is not rejected and there is not significant difference in the diameter of the cutlet between two units.

###  Q2.A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [143]:
lab_test=pd.read_csv('LabTAT.csv')
lab_test

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

### Hypothesis:
####        n0:  There is no difference in the average Turn Around Time (TAT) of reports of the laboratories.  
####        na:   there is a difference in the average Turn Around Time (TAT) of reports of the laboratories. 
### Since the output is more than 2, Anova test is used

In [94]:
#t_value,p_value=stats.f_oneway(lab_1,lab_2,lab_3,lab_4)

t_value,p_value=stats.f_oneway(lab_test['Laboratory 1'],lab_test['Laboratory 2'],lab_test['Laboratory 3'],lab_test['Laboratory 4'])
t_value,p_value

(118.70421654401437, 2.1156708949992414e-57)

In [95]:
p_value=p_value/2

In [96]:
if p_value < 0.05:
    print(' Null hypothesis is rejected and there is a difference in the average Turn Around Time (TAT) of reports of the laboratories.')
else:
    print('Null hypothesis is not rejected and  there is a difference in the average Turn Around Time (TAT) of reports of the laboratories.')

 Null hypothesis is rejected and there is a difference in the average Turn Around Time (TAT) of reports of the laboratories.

### Q3. Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [98]:
sales_data=pd.read_csv('BuyerRatio.csv')
sales_data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

### Hypothesis:
#### N0: Male-female buyer rations are similar across regions.
#### Na: Male-female buyer rations are not similar across regions.
### chi-square Test

In [121]:
# consider alpha=0.05
sales=np.array([Male,Female])
sales

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [122]:
chi_score=stats.chi2_contingency(observed=sales)
print('chi_value          : ',chi_score[0])
print('p_value            : ',chi_score[1])
print('degree of freedom  : ',chi_score[2])

chi_value          :  1.595945538661058
p_value            :  0.6603094907091882
degree of freedom  :  3

In [123]:
if chi_score[1] < 0.05:
    print('Null hypothesis is rejected and there is no similarity between Male-female buyer rations across regions.')
else:
    print('Null hypothesis is not rejected and there is similarity between Male-female buyer rations across regions.')

Null hypothesis is not rejected and there is similarity between Male-female buyer rations across regions.

### Q4. TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [124]:
telecall_data=pd.read_csv('Costomer+OrderForm.csv')
telecall_data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [131]:
d_1=telecall_data['Phillippines'].value_counts()
d_1

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [132]:
d_2=telecall_data['Indonesia'].value_counts()
d_2

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [135]:
d_3=telecall_data['Malta'].value_counts()
d_3

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [136]:
d_4=telecall_data['India'].value_counts()
d_4

Error Free    280
Defective      20
Name: India, dtype: int64

### Hypothesis:
####        N0: customer order forms defective % does not varies by centre
####        Na:customer order forms defective % varies by centre
###  chi square test is used

In [137]:
ed_data = np.array([d_1,d_2,d_3,d_4])
ed_data

array([[271,  29],
       [267,  33],
       [269,  31],
       [280,  20]], dtype=int64)

In [138]:
chi_score = stats.chi2_contingency(observed=ed_data)
print('chi_value          : ',chi_score[0])
print('p_value            : ',chi_score[1])
print('degree of freedom  : ',chi_score[2])

chi_value          :  3.8589606858203545
p_value            :  0.2771020991233144
degree of freedom  :  3

In [140]:
if chi_score[1] < 0.05:
    print('Null hypothesis is rejected and consider customer order forms defective % varies by centre')
else:
    print('Null hypothesis is not rejected and consider customer order forms defective % does not varies by centre')

Null hypothesis is not rejected and consider customer order forms defective % does not varies by centre